  <%= form_for @email_setting, html: {class: "email_setting_form"} do |f| %>
    <h1 class="crumb-trail">
      Электронное обращение для физических лиц
    </h1>
    <tbody>
    <div class="emails_setting_div">
      <p class="email_text"><%= f.label :first_name, t('email_message.first_name') %></p>
      <p><%= f.text_field :first_name %></p>
    </div>

    <div class="emails_setting_div">
      <p><%= f.label :last_name, t('email_message.last_name') %></p>
      <p><%= f.text_field :last_name %></p>
    </div>

    <div class="emails_setting_div">
      <p><%= f.label :patronymic, t('email_message.patronymic') %></p>
      <p><%= f.text_field :patronymic %></p>
    </div>

    <div class="emails_setting_div">
      <p><%= f.label :email, t('email_message.email') %></p>
      <p><%= f.text_field :email %></p>
    </div>

    <div class="emails_setting_div">
      <p><%= f.label :address, t('email_message.adress') %></p>
      <p><%= f.text_field :address %></p>
    </div>

    <div class="emails_setting_div">
      <p><%= f.label :text, t('email_message.text') %></p>
      <p><%= f.text_area :text %></p>
    </div>
    <h3><%= t('email_message.mandatory_fields') %></h3>
    <h4><%= t('email_message.all_information') %><a href="http://www.mst.by/ru/poryadok_rassmotreniya-ru/"><%= t('email_message.department') %></a></h4>
    <div class="btn" >
    <%= f.submit t('email_message.send') %>
    </div>


    </tbody>

  <% end %>
<!--<div class="col-sm-1">-->
  <%#= link_to("Cancel", href = "/", class: "btn btn-default btn-block") %>
<!--</div>-->